@use "sass:color";
@import "src/styles/vars";

.settings {
  position: fixed;
  right: 0;
  top: 1rem;
width: 200px;
padding-right: 1rem;
transform: translateX(100%);
transition: transform .3s;


&--open { 
  transform: translateX(0);

  .settings-toggler {
    transform: rotate(45deg);

    &:hover {
      transform: scale(1.2) rotate(45deg);
    }
  }
}

&-toggler {
  border-radius: 50%;
  border: 0;
  background-color: white;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: .25rem;
  left:-3rem;
  transition: transform .3s;

  &:hover {
    transform: scale(1.2);
  }
}

&-submit {
  width: 100%;
  border-radius: 5px;
  background-color: $action-color;
  border:0;
  padding: 0.5rem;
  color: white;
  margin-top: .5rem;

  &:hover {
    background-color: color.adjust($action-color, $lightness: -20%);
  }
}
}
